@use "./Global.modules.scss";

$imgwidth: 270px;
$imgheight: $imgwidth+20px;

#Content_wrapper {
    @extend %base;
    margin-top: 30px;

    .Content {
        @extend %fixat1360;
        overflow: hidden;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto;
        height: 200vh;

    }
    
}

.bold {
    font-family: "Roboto", sans-serif;
    font-size: medium;
    font-weight: bold;
}
.container {
    display: flex;
    flex-direction: column;
    .room_img {
        border-radius: 15px;
        width: $imgwidth ;
        min-width: 200px;
        max-width: 400px;
        height: $imgheight;
    }

    .info {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
    }
}   
.number {
    margin: auto 0px;
}
.repo-title {
    margin-bottom: 1.5rem;
  }
  
  .listing {
    margin-bottom: 1rem;
  }
.paginate_container{
    display: flex;
    justify-content: center;
    align-items: center;
    .paginate{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }
    li{
        padding: 5px;
    }
}
