@use './Global.modules.scss' as *;

.UserSideBar_wrapper {
  @extend %Sidebar !optional;

  .UserSideBar_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;

    .UserSideBar_Item {
      padding: 0 10px;

      .UserSideBar_Detail {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        margin: 0;
        border-radius: 20px;

        .icon {
          width: 40px;
          height: 40px;
          color: blue;
        }

        .UserSideBar_text {
          white-space: nowrap;
          margin-left: 5px;
          color: #333;

          &:hover {
            color: #dc3d35;
          }
        }
      }
    }
  }
}

.active {
  background-color: #eeeeee;
  color: #dc3d35;
}
